.flex-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height:68vh;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 10vh;
    align-items: center;
    border:1px solid black;
}
.flex-column{
    display: flex;
    flex-grow: 1;
    &.title{
        flex-basis: 20%;
    }
    &.description{
        flex-basis: 70%;
    }
    &.close{
        flex-basis: 10%;
    }
}